/* General page styling */
#example-nav{
	position: fixed;
	left: 10px;
	top: 10px;
}


/* Site styling */
h3{
    position: relative;
    margin-bottom: 44px !important;
}
h3::after{
    content: '';
    background-color: currentColor;
    display: block;
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: -16px;
    left: 0;
}

#three-canvas{
    position: absolute;
}
#three-canvas-wr{
    min-height: 500px;
    font-size: 0;
    line-height: 0;
    position: relative;
}

@media screen and (min-width: 1024px) {
    #three-canvas-wr{
        min-height: 80vh;
    }
}

@media screen and (max-width: 575px) {
    .hide-mobile{
        display: none;
    }
}
@media screen and (min-width: 575px) {
    .hide-desktop{
        display: none;
    }
}


/* Fading */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.room-info-piece{
    display: none;
    animation-name: fade-in;
    animation-duration: 1s;
}