/* General page styling */
body{
    background-color: #FCFBF9;
}


#example-nav{
	position: fixed;
	left: 15px;
	top: 64px;
}


/* Site styling */
#three-canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.three-canvas-wr{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    overflow: hidden;
}

.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: opacity .84s .2s ease;
}
.loadbar{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 4px;
    border-radius: 20px;
    background-color: rgba(26,26,26, .08);
}
.loadbar-inner{
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 4px;
    border-radius: 20px;
    background-color: rgba(26,26,26, .6);
    transform-origin: left;
    transform: scaleX(0);
}

.hero{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, .18);
    pointer-events: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero svg{
    max-width: 546px;
    width: 100%;
    height: auto;
}


/* Bootstrap overrides */
.btn-outline-primary:focus{
    box-shadow: none;
}
.btn-primary:focus{
    box-shadow: none;
}