#three-canvas-wr{
    min-height: 500px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
/* 
#three-canvas-wr::after{
    content: 'Drag ↺';
    font-size: 1.35rem;
    line-height: 1.35em;
    opacity: .5;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%);
    transition: opacity .35s ease;
}


#three-canvas-wr:hover::after{
    opacity: 0;
} */