/* General page styling */
body{
    background-color: #282828;
}


#example-nav{
	position: fixed;
	left: 15px;
	top: 64px;
}


/* Site styling */
#three-canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.three-canvas-wr{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    overflow: hidden;
}

.test-navs{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    text-align: center;
}

.swatch{
    border-radius: 100px;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 4px;
    transition: all .15s ease;
}

.swatch.orange{
    background: linear-gradient(45deg, #FF8F13, #d83c0c );
}
.swatch.grey{
    background: linear-gradient(45deg, #ffffff, #797979 );
}
.swatch.blue{
    background: linear-gradient(45deg, #1a79b9, #124568 );
}

.swatch:focus{
    box-shadow: 0 0 0 3px rgba( 248, 249, 250, .5 );
}


.info-panel{
    position: fixed;
    left: 15px;
    top: 100px;
    background-color: rgba(200,200,200, .2);
    color: white;
    font-size: 11px;
    padding-right: 10px;
}

.info-panel td{
    padding: 6px 0;
}

.info-panel strong{
    font-size: 14px;
}

.info-panel .btn-close{
    position: absolute;
    top: 5px;
    right: 5px;
}


/* Bootstrap overrides */
.btn-outline-primary:focus{
    box-shadow: none;
}
.btn-primary:focus{
    box-shadow: none;
}